body {
    text-align: center;
    background-color: rgba(179, 255, 255, 0.785);
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 5rem;

    color: #7AC6DE;
    text-shadow: 4px 0 #00073a;

}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
}

.w {
    background-image: url("images/tom1.png");
    object-fit: cover;
}

.a {
    background-image: url("images/tom2.png");
    object-fit: cover;
}

.s {
    background-image: url("images/tom3.png");
    object-fit: cover;
}

.d {
    background-image: url("images/tom4.png");
    object-fit: cover;
}

.j {
    background-image: url("images/snare.png");
    object-fit: cover;
}

.k {
    background-image: url("images/crash.png");
    object-fit: cover;
}

.l {
    background-image: url("images/kick.png");
    object-fit: cover;
}

.set {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 3px 4px 0 #0000005c;
    opacity: 0.7;
    transform: translateY(-10px);
    transition: 0.2s ease-out;
}

.red {
    color: red;
}

.drum {
    outline: none;
    position: relative;
    border: 10px solid #7AC6DE;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #0089ce;
    text-shadow: 4px 0 #00073a;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}

.text {
    font-family: 'Poppins';
    position: absolute;
    bottom: 0;
    margin: 0;
    transform: translate(30px, 20px);
}

.overlay {
    background: #0000005e;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}